@use 'support' as *;
// Labels (not the form kind)

// this :not() prevents a style clash with Mermaid.js's
// diagram labels, which also use .label
// for more, see https://github.com/just-the-docs/just-the-docs/issues/1272
// and the accompanying PR
.label:not(g),
.label-blue:not(g) {
  display: inline-block;
  padding: 0.16em 0.56em;
  margin-right: var(--sp-2);
  margin-left: var(--sp-2);
  color: var(--white);
  text-transform: uppercase;
  vertical-align: middle;
  background-color: var(--blue_100);
  border-radius: 12px;

  @include fs-2;
}

.label-green:not(g) {
  background-color: var(--green_200);
}

.label-purple:not(g) {
  background-color: var(--purple_100);
}

.label-red:not(g) {
  background-color: var(--red_200);
}

.label-yellow:not(g) {
  color: var(--grey_dk_200);
  background-color: var(--yellow_200);
}
