// The basic two column layout
@use './support' as *;

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--sidebar-color);

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: var(--nav-width-md);
    height: 100%;
    border-right: var(--border) var(--border-color);
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{var(--nav-width) + var(--content-width)}) / 2 + #{var(--nav-width)});
    min-width: var(--nav-width);
  }

  & + .main {
    @include mq(md) {
      margin-left: var(--nav-width-md);
    }

    @include mq(lg) {
      // stylelint-disable function-name-case
      // disable for Max(), we want to use the CSS max() function
      margin-left: Max(
        #{var(--nav-width)},
        calc((100% - #{var(--nav-width) + var(--content-width)}) / 2 + #{var(--nav-width)})
      );
      // stylelint-enable function-name-case
    }

    .main-header {
      display: none;
      background-color: var(--sidebar-color);

      @include mq(md) {
        display: flex;
        background-color: var(--body-background-color);
      }

      &.nav-open {
        display: block;

        @include mq(md) {
          display: flex;
        }
      }
    }
  }
}

.main {
  margin: auto;

  @include mq(md) {
    position: relative;
    max-width: var(--content-width);
  }
}

.main-content-wrap {
  padding-top: var(--gutter-spacing-sm);
  padding-bottom: var(--gutter-spacing-sm);

  @include container;

  @include mq(md) {
    padding-top: var(--gutter-spacing);
    padding-bottom: var(--gutter-spacing);
  }
}

.main-header {
  z-index: 0;
  border-bottom: var(--border) var(--border-color);

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
  }
}

.site-nav,
.site-header,
.site-footer {
  width: 100%;

  @include mq(lg) {
    width: var(--nav-width);
  }
}

.site-nav {
  display: none;

  &.nav-open {
    display: block;
  }

  @include mq(md) {
    display: block;
    padding-top: var(--sp-8);
    padding-bottom: var(--gutter-spacing-sm);
    overflow-y: auto;
    flex: 1 1 auto;
  }
}

.site-header {
  display: flex;
  min-height: var(--header-height);
  align-items: center;

  @include mq(md) {
    height: var(--header-height);
    max-height: var(--header-height);
    border-bottom: var(--border) var(--border-color);
  }
}

.site-title {
  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: var(--sp-3);
  padding-bottom: var(--sp-3);
  color: var(--body-heading-color);

  @include container;

  @include fs-6;

  @include mq(md) {
    padding-top: var(--sp-2);
    padding-bottom: var(--sp-2);
  }
}

@if variable-exists(logo) {
  .site-logo {
    width: 100%;
    height: 100%;
    background-image: url(var(--logo));
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}

.site-button {
  display: flex;
  height: 100%;
  padding: var(--gutter-spacing-sm);
  align-items: center;
}

@include mq(md) {
  .site-header .site-button {
    display: none;
  }
}

.site-title:hover {
  background-image: linear-gradient(
    -90deg,
    rgba(var(--feedback-color), 1) 0%,
    rgba(var(--feedback-color), 0.8) 80%,
    rgba(var(--feedback-color), 0) 100%
  );
}

.site-button:hover {
  background-image: linear-gradient(
    -90deg,
    rgba(var(--feedback-color), 1) 0%,
    rgba(var(--feedback-color), 0.8) 100%
  );
}

// stylelint-disable selector-max-type

body {
  position: relative;
  padding-bottom: var(--sp-10);
  overflow-y: scroll;

  @include mq(md) {
    position: static;
    padding-bottom: 0;
  }
}

// stylelint-enable selector-max-type

.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: var(--sp-4);
  padding-bottom: var(--sp-4);
  color: var(--grey-dk-000);

  @include container;

  @include fs-2;

  @include mq(md) {
    position: static;
    justify-self: end;
  }
}

.icon {
  width: var(--sp-5);
  height: var(--sp-5);
  color: var(--link-color);
}
