@use './support'as *;
@use './support/search_variables';
// Search input and autocomplete

.search {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  height: var(height);
  padding: var(--padding);
  transition: padding linear var(--duration-5);

  @include mq(md) {
    position: relative !important;
    width: auto !important;
    height: 100% !important;
    padding: 0;
    transition: none;
  }
}

.search-input-wrap {
  position: relative;
  z-index: 1;
  height: var(--height);
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: height linear var(--duration-5);

  @include mq(md) {
    position: absolute;
    width: 100%;
    max-width: var(--search-results-width);
    height: 100% !important;
    border-radius: 0;
    box-shadow: none;
    transition: width ease var(--transition-duration);
  }
}

.search-input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: var(--padding);
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--background-color);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0;

  @include mq(md) {
    padding: var(--padding);
    font-size: 0.875rem;
    background-color: var(--background-color);
    transition: padding-left linear var(--duration5);
  }

  &:focus {
    outline: 0;

    + .search-label .search-icon {
      color: var(--text-color);
    }
  }
}

.search-label {
  position: absolute;
  display: flex;
  height: 100%;
  padding-left: var(--padding);

  @include mq(md) {
    padding-left: var(--gutter-spacing);
    transition: padding-left linear var(--duration5);
  }

  .search-icon {
    width: var(--icon-size);
    height:var(--icon-size);
    align-self: center;
    color: var(--icon-color);
  }
}

.search-results {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  max-height: var(--max-height);
  overflow-y: auto;
  background-color: var(--background-color);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  @include mq(md) {
    top: 100%;
    width: var(--search-results-width);
    max-height: calc(100vh - 200%) !important;
  }
}

.search-results-list {
  padding-left: 0;
  margin-bottom: var(--margin);
  list-style: none;
  @include fs-4;

  @include mq(md) {
    @include fs-3;
  }
}

.search-results-list-item {
  padding:var(--padding);
  margin: var(--margin);
}

.search-result {
  display: block;
  padding: var(--padding);

  &:hover,
  &.active {
    background-color: var(--background-color);
  }
}

.search-result-title {
  display: block;
  padding-top: var(--padding);
  padding-bottom: var(--padding);

  @include mq(sm) {
    display: inline-block;
    width: 40%;
    padding-right: var(--sp-2);
    vertical-align: top;
  }
}

.search-result-doc {
  display: flex;
  align-items: center;
  word-wrap: break-word;

  &.search-result-doc-parent {
    opacity: 0.5;
    @include fs-3;

    @include mq(md) {
      @include fs-2;
    }
  }

  .search-result-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    margin-right: var(--margin);
    color: var(--text-color);
    flex-shrink: 0;
  }

  .search-result-doc-title {
    overflow: auto;
  }
}

.search-result-section {
  margin-left: var(--margin);
  word-wrap: break-word;
}

.search-result-rel-url {
  display: block;
  margin-left: var(--margin);
  overflow: hidden;
  color: var(--text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  @include fs-1;
}

.search-result-previews {
  display: block;
  padding: var(--padding);
  margin-left: var(--margin);
  color: var(--text-color);
  word-wrap: break-word;
  border-left: var(--border);
  border-left-color: var(--border-color);
  @include fs-2;

  @include mq(sm) {
    display: inline-block;
    width: 60%;
    padding-left: var(--sp-2);
    margin-left: 0;
    vertical-align: top;
  }
}

.search-result-preview + .search-result-preview {
  margin-top: var(--margin);
}

.search-result-highlight {
  font-weight: bold;
}

.search-no-result {
  padding: var(--padding);
  @include fs-3;
}

.search-button {
  position: fixed;
  right: var(--position-right);
  bottom: var(--position-bottom);
  display: flex;
  width: var(--size);
  height: var(--size);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: center;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  background-color: var(--background-color);
  opacity: 0;
  transition:
    opacity ease var(--transition-duration),
    width 0s var(--transition-duration),
    height 0s var(--transition-duration);
}

.search-active {
  .search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .search-input-wrap {
    height: var(--height);
    border-radius: 0;

    @include mq(md) {
      width: var(--search-results-width);
      box-shadow: var(--box-shadow);
    }
  }

  .search-input {
    background-color: var(--background-color);

    @include mq(md) {
      padding-left: 2.3rem;
    }
  }

  .search-label {
    @include mq(md) {
      padding-left: 0.6rem;
    }
  }

  .search-results {
    display: block;
  }

  .search-overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition:
      opacity ease var(--transition-duration),
      width 0s,
      height 0s;
  }

  @include mq(md) {
    .main {
      position: fixed;
      right: 0;
      left: 0;
    }
  }

  .main-header {
    padding-top: var(--padding);

    @include mq(md) {
      padding-top: 0;
    }
  }
}
