@use "./layout";
@use "../variables";

@mixin fs-1 {
  & {
    font-size: var(--font-size-1) !important;
  }

  @include layout.mq(sm) {
    font-size: var(--font-size-1-sm) !important;
  }
}

@mixin fs-2 {
  & {
    font-size: var(--font-size-2) !important;
  }

  @include layout.mq(sm) {
    font-size: var(--font-size-3) !important;
  }
}

@mixin fs-3 {
  & {
    font-size: var(--font-size-3) !important;
  }

  @include layout.mq(sm) {
    font-size: var(--font-size-4) !important;
  }
}

@mixin fs-4 {
  & {
    font-size: var(--font-size-4) !important;
  }

  @include layout.mq(sm) {
    font-size: var(--font-size-5) !important;
  }
}

@mixin fs-5 {
  & {
    font-size: var(--font-size-5) !important;
  }

  @include layout.mq(sm) {
    font-size: var(--font-size-6) !important;
  }
}

@mixin fs-6 {
  & {
    font-size: var(--font-size-6) !important;
  }

  @include layout.mq(sm) {
    font-size: var(--font-size-7) !important;
    line-height: var(--body-heading-line-height);   }
}

@mixin fs-7 {
  & {
    font-size: var(--font-size-7) !important;
    line-height: var(--body-heading-line-height);   }

  @include layout.mq(sm) {
    font-size: var(--font-size-8) !important;
  }
}

@mixin fs-8 {
  & {
    font-size: var(--font-size-8) !important;
    line-height: var(--body-heading-line-height);   }

  @include layout.mq(sm) {
    font-size: var(--font-size-9) !important;
  }
}

@mixin fs-9 {
  & {
    font-size: var(--font-size-9) !important;
    line-height: var(--body-heading-line-height);   }

  @include layout.mq(sm) {
    font-size: var(--font-size-10) !important;
  }
}

@mixin fs-10 {
  & {
    font-size: var(--font-size-10) !important;
    line-height: var(--body-heading-line-height);   }

  @include layout.mq(sm) {
    font-size: var(--font-size-10-sm) !important;
  }
}
