
// Utility classes for colors

// Text colors

.text-grey_dk_000 {
  color: var(--grey_dk_000) !important;
}

.text-grey_dk_100 {
  color: var(--grey_dk_100) !important;
}

.text-grey_dk_200 {
  color: var(--grey_dk_200) !important;
}

.text-grey_dk_250 {
  color: var(--grey_dk_250) !important;
}

.text-grey_dk_300 {
  color: var(--grey_dk_300) !important;
}

.text-grey_lt_000 {
  color: var(--grey_lt_000) !important;
}

.text-grey_lt_100 {
  color: var(--grey_lt_100) !important;
}

.text-grey_lt_200 {
  color: var(--grey_lt_200) !important;
}

.text-grey_lt_300 {
  color: var(--grey_lt_300) !important;
}

.text-blue_000 {
  color: var(--blue_000) !important;
}

.text-blue_100 {
  color: var(--blue_100) !important;
}

.text-blue_200 {
  color: var(--blue_200) !important;
}

.text-blue_300 {
  color: var(--blue_300) !important;
}

.text-green_000 {
  color: var(--green_000) !important;
}

.text-green_100 {
  color: var(--green_100) !important;
}

.text-green_200 {
  color: var(--green_200) !important;
}

.text-green_300 {
  color: var(--green_300) !important;
}

.text-purple_000 {
  color: var(--purple_000) !important;
}

.text-purple_100 {
  color: var(--purple_100) !important;
}

.text-purple_200 {
  color: var(--purple_200) !important;
}

.text-purple_300 {
  color: var(--purple_300) !important;
}

.text-yellow_000 {
  color: var(--yellow_000) !important;
}

.text-yellow_100 {
  color: var(--yellow_100) !important;
}

.text-yellow_200 {
  color: var(--yellow_200) !important;
}

.text-yellow_300 {
  color: var(--yellow_300) !important;
}

.text-red_000 {
  color: var(--red_000) !important;
}

.text-red_100 {
  color: var(--red_100) !important;
}

.text-red_200 {
  color: var(--red_200) !important;
}

.text-red_300 {
  color: var(--red_300) !important;
}

// Background colors

.bg-grey_dk_000 {
  background-color: var(--grey_dk_000) !important;
}

.bg-grey_dk_100 {
  background-color: var(--grey_dk_100) !important;
}

.bg-grey_dk_200 {
  background-color: var(--grey_dk_200) !important;
}

.bg-grey_dk_250 {
  background-color: var(--grey_dk_250) !important;
}

.bg-grey_dk_300 {
  background-color: var(--grey_dk_300) !important;
}

.bg-grey_lt_000 {
  background-color: var(--grey_lt_000) !important;
}

.bg-grey_lt_100 {
  background-color: var(--grey_lt_100) !important;
}

.bg-grey_lt_200 {
  background-color: var(--grey_lt_200) !important;
}

.bg-grey_lt_300 {
  background-color: var(--grey_lt_300) !important;
}

.bg-blue_000 {
  background-color: var(--blue_000) !important;
}

.bg-blue_100 {
  background-color: var(--blue_100) !important;
}

.bg-blue_200 {
  background-color: var(--blue_200) !important;
}

.bg-blue_300 {
  background-color: var(--blue_300) !important;
}

.bg-green_000 {
  background-color: var(--green_000) !important;
}

.bg-green_100 {
  background-color: var(--green_100) !important;
}

.bg-green_200 {
  background-color: var(--green_200) !important;
}

.bg-green_300 {
  background-color: var(--green_300) !important;
}

.bg-purple_000 {
  background-color: var(--purple_000) !important;
}

.bg-purple_100 {
  background-color: var(--purple_100) !important;
}

.bg-purple_200 {
  background-color: var(--purple_200) !important;
}

.bg-purple_300 {
  background-color: var(--purple_300) !important;
}

.bg-yellow_000 {
  background-color: var(--yellow_000) !important;
}

.bg-yellow_100 {
  background-color: var(--yellow_100) !important;
}

.bg-yellow_200 {
  background-color: var(--yellow_200) !important;
}

.bg-yellow_300 {
  background-color: var(--yellow_300) !important;
}

.bg-red_000 {
  background-color: var(--red_000) !important;
}

.bg-red_100 {
  background-color: var(--red_100) !important;
}

.bg-red_200 {
  background-color: var(--red_200) !important;
}

.bg-red_300 {
  background-color: var(--red_300) !important;
}
